@import "tailwindcss";

@theme {
  --color-primary: #137fec;
  --color-background: #101922;
  --color-sidebar-dark: #0a2540;
  --color-background-light: #f6f7f8;

  --font-sans: Inter, sans-serif;
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
  }
}